In [1]:
# The above data is data for prebid auctions. There are bidders who receive requests for placing ads, 
# they respond to these requests with a bid and the highest bid wins the auction. Analyze the dataset to answer which bidder 
# has the highest win rate (wins / total_bid).

In [2]:
import pandas as pd

df = pd.read_csv('analysis_id.csv')
df.head()

,Unnamed: 0,date_hour,client,device_type,time_zone,os_name,browser_name,ad_unit,size,bidder,...,sum_time_to_respond,median,min_bid,max_bid,avg_bid,sum_2nd_highest_bid,sum_prebid_winning_bid,sum_winning_bid,sum_nobid,sum_timeout
0,0,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-Footers,728x90,onemobile,...,6614.0,NaN,0.58520,0.58520,0.585200,0.5852,0.5852,NaN,NaN,NaN
1,1,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-Footers,728x90,rhythmone,...,5171.0,NaN,0.33945,0.34875,0.344100,NaN,NaN,NaN,NaN,NaN
2,2,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-InLine-1,300x250,undertone,...,1523.0,NaN,0.96000,0.96000,0.960000,NaN,NaN,NaN,NaN,NaN
3,3,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-O-300x250-1,300x250,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-O-300x250-1,300x250,rhythmone,...,3570.0,0.34875,0.34410,0.34875,0.346425,NaN,NaN,NaN,NaN,NaN

In [5]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [6]:
df.columns

Index(['date_hour', 'client', 'device_type', 'time_zone', 'os_name',
       'browser_name', 'ad_unit', 'size', 'bidder', 'bid_range', 'media_type',
       'request_count', 'response_count', 'prebid_win_count', 'win_count',
       'sum_bid', 'sum_time_to_respond', 'median', 'min_bid', 'max_bid',
       'avg_bid', 'sum_2nd_highest_bid', 'sum_prebid_winning_bid',
       'sum_winning_bid', 'sum_nobid', 'sum_timeout'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date_hour               5000 non-null   object
 1   client                  5000 non-null   object
 2   device_type             5000 non-null   object
 3   time_zone               5000 non-null   object
 4   os_name                 5000 non-null   object
 5   browser_name            5000 non-null   object
 6   ad_unit                 5000 non-null   object
 7   size                    5000 non-null   object
 8   bidder                  5000 non-null   object
 9   bid_range               5000 non-null   object
 10  media_type              5000 non-null   object
 11  request_count           5000 non-null   int64
 12  response_count          5000 non-null   int64
 13  prebid_win_count        1167 non-null   float64
 14  win_count               186 non-null    float64
 15  sum_bid                 3790 non-null   float64
 16  sum_time_to_respond     3790 non-null   float64
 17  median                  1760 non-null   float64
 18  min_bid                 3790 non-null   float64
 19  max_bid                 3790 non-null   float64
 20  avg_bid                 3790 non-null   float64
 21  sum_2nd_highest_bid     734 non-null    float64
 22  sum_prebid_winning_bid  1167 non-null   float64
 23  sum_winning_bid         186 non-null    float64
 24  sum_nobid               0 non-null      float64
 25  sum_timeout             0 non-null      float64
dtypes: float64(13), int64(2), object(11)
memory usage: 1015.8+ KB

In [8]:
df.isnull().sum()

date_hour                    0
client                       0
device_type                  0
time_zone                    0
os_name                      0
browser_name                 0
ad_unit                      0
size                         0
bidder                       0
bid_range                    0
media_type                   0
request_count                0
response_count               0
prebid_win_count          3833
win_count                 4814
sum_bid                   1210
sum_time_to_respond       1210
median                    3240
min_bid                   1210
max_bid                   1210
avg_bid                   1210
sum_2nd_highest_bid       4266
sum_prebid_winning_bid    3833
sum_winning_bid           4814
sum_nobid                 5000
sum_timeout               5000
dtype: int64

In [17]:
df['prebid_win_count'].mean()

2.8757497857754926

In [22]:
df['win_count'].median()

1.0

In [23]:
df.nunique()

date_hour                    1
client                       1
device_type                  1
time_zone                   21
os_name                      3
browser_name                47
ad_unit                    260
size                        11
bidder                      18
bid_range                   66
media_type                   1
request_count              258
response_count             112
prebid_win_count            35
win_count                    9
sum_bid                   2770
sum_time_to_respond       2328
median                    1253
min_bid                   2184
max_bid                   2277
avg_bid                   2705
sum_2nd_highest_bid        603
sum_prebid_winning_bid     994
sum_winning_bid            171
sum_nobid                    0
sum_timeout                  0
dtype: int64

In [24]:
df.drop(columns=['device_type','os_name', 'browser_name'], inplace=True)

In [25]:
df.head()

,date_hour,client,time_zone,ad_unit,size,bidder,bid_range,media_type,request_count,response_count,...,sum_time_to_respond,median,min_bid,max_bid,avg_bid,sum_2nd_highest_bid,sum_prebid_winning_bid,sum_winning_bid,sum_nobid,sum_timeout
0,2021-04-11T01:00:00,asc126828,America/Chicago,div-gpt-ad-BT-D-Footers,728x90,onemobile,0.5-0.6,display,4,4,...,6614.0,NaN,0.58520,0.58520,0.585200,0.5852,0.5852,NaN,NaN,NaN
1,2021-04-11T01:00:00,asc126828,America/Chicago,div-gpt-ad-BT-D-Footers,728x90,rhythmone,0.3-0.4,display,3,3,...,5171.0,NaN,0.33945,0.34875,0.344100,NaN,NaN,NaN,NaN,NaN
2,2021-04-11T01:00:00,asc126828,America/Chicago,div-gpt-ad-BT-D-InLine-1,300x250,undertone,0.9-1,display,1,1,...,1523.0,NaN,0.96000,0.96000,0.960000,NaN,NaN,NaN,NaN,NaN
3,2021-04-11T01:00:00,asc126828,America/Chicago,div-gpt-ad-BT-D-O-300x250-1,300x250,,,display,43,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-04-11T01:00:00,asc126828,America/Chicago,div-gpt-ad-BT-D-O-300x250-1,300x250,rhythmone,0.3-0.4,display,2,2,...,3570.0,0.34875,0.34410,0.34875,0.346425,NaN,NaN,NaN,NaN,NaN

In [27]:
df.drop(columns=['time_zone'], inplace=True)

In [31]:
df.head()

,date_hour,client,ad_unit,size,bidder,bid_range,media_type,request_count,response_count,prebid_win_count,...,sum_time_to_respond,median,min_bid,max_bid,avg_bid,sum_2nd_highest_bid,sum_prebid_winning_bid,sum_winning_bid,sum_nobid,sum_timeout
0,2021-04-11T01:00:00,asc126828,div-gpt-ad-BT-D-Footers,728x90,onemobile,0.5-0.6,display,4,4,1.0,...,6614.0,NaN,0.58520,0.58520,0.585200,0.5852,0.5852,NaN,NaN,NaN
1,2021-04-11T01:00:00,asc126828,div-gpt-ad-BT-D-Footers,728x90,rhythmone,0.3-0.4,display,3,3,NaN,...,5171.0,NaN,0.33945,0.34875,0.344100,NaN,NaN,NaN,NaN,NaN
2,2021-04-11T01:00:00,asc126828,div-gpt-ad-BT-D-InLine-1,300x250,undertone,0.9-1,display,1,1,NaN,...,1523.0,NaN,0.96000,0.96000,0.960000,NaN,NaN,NaN,NaN,NaN
3,2021-04-11T01:00:00,asc126828,div-gpt-ad-BT-D-O-300x250-1,300x250,,,display,43,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-04-11T01:00:00,asc126828,div-gpt-ad-BT-D-O-300x250-1,300x250,rhythmone,0.3-0.4,display,2,2,NaN,...,3570.0,0.34875,0.34410,0.34875,0.346425,NaN,NaN,NaN,NaN,NaN

In [32]:
df.columns

Index(['date_hour', 'client', 'ad_unit', 'size', 'bidder', 'bid_range',
       'media_type', 'request_count', 'response_count', 'prebid_win_count',
       'win_count', 'sum_bid', 'sum_time_to_respond', 'median', 'min_bid',
       'max_bid', 'avg_bid', 'sum_2nd_highest_bid', 'sum_prebid_winning_bid',
       'sum_winning_bid', 'sum_nobid', 'sum_timeout'],
      dtype='object')

In [114]:
dff = df[['bidder','request_count', 'response_count', 'prebid_win_count', 'win_count', 'sum_bid', 'max_bid', 'avg_bid', 'sum_2nd_highest_bid', 'sum_prebid_winning_bid',
       'sum_winning_bid', 'sum_nobid', 'sum_timeout']]

In [115]:
dff.head()

,bidder,request_count,response_count,prebid_win_count,win_count,sum_bid,max_bid,avg_bid,sum_2nd_highest_bid,sum_prebid_winning_bid,sum_winning_bid,sum_nobid,sum_timeout
0,onemobile,4,4,1.0,NaN,2.34080,0.58520,0.585200,0.5852,0.5852,NaN,NaN,NaN
1,rhythmone,3,3,NaN,NaN,1.03230,0.34875,0.344100,NaN,NaN,NaN,NaN,NaN
2,undertone,1,1,NaN,NaN,0.96000,0.96000,0.960000,NaN,NaN,NaN,NaN,NaN
3,,43,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,rhythmone,2,2,NaN,NaN,0.69285,0.34875,0.346425,NaN,NaN,NaN,NaN,NaN

In [116]:
dff['bidder'].unique()

array(['onemobile', 'rhythmone', 'undertone', ' ', 'pulsepoint',
       'pubmatic', 'triplelift', 'sharethrough', 'ix', 'medianet',
       'appnexus', '33across', 'openx', 'emx_digital', 'rubicon',
       'criteo', 'sovrn', 'teads'], dtype=object)

In [117]:
dff.isnull().sum()

bidder                       0
request_count                0
response_count               0
prebid_win_count          3833
win_count                 4814
sum_bid                   1210
max_bid                   1210
avg_bid                   1210
sum_2nd_highest_bid       4266
sum_prebid_winning_bid    3833
sum_winning_bid           4814
sum_nobid                 5000
sum_timeout               5000
dtype: int64

In [118]:
df['avg_bid'].unique()

array([0.5852    , 0.3441    , 0.96      , ..., 0.19908337, 0.16243912,
       0.05828   ])

In [119]:
dff['win_count'] = dff['win_count'].fillna(int(dff['win_count'].mean()))

/tmp/ipykernel_131570/4127087537.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff['win_count'] = dff['win_count'].fillna(int(dff['win_count'].mean()))

In [120]:
dff.isnull().sum()

bidder                       0
request_count                0
response_count               0
prebid_win_count          3833
win_count                    0
sum_bid                   1210
max_bid                   1210
avg_bid                   1210
sum_2nd_highest_bid       4266
sum_prebid_winning_bid    3833
sum_winning_bid           4814
sum_nobid                 5000
sum_timeout               5000
dtype: int64

In [121]:
dff['win_count'].unique()

array([ 1.,  2.,  3., 13.,  4.,  6.,  5., 16.,  7.])

In [122]:
dff[['sum_bid', 'max_bid','avg_bid']] = dff[['sum_bid', 'max_bid','avg_bid']].fillna( dff[['sum_bid', 'max_bid','avg_bid']].mean())

/tmp/ipykernel_131570/563480748.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff[['sum_bid', 'max_bid','avg_bid']] = dff[['sum_bid', 'max_bid','avg_bid']].fillna( dff[['sum_bid', 'max_bid','avg_bid']].mean())

In [123]:
dff['sum_bid'].unique()

array([2.3408    , 1.0323    , 0.96      , ..., 0.44952071, 0.16243912,
       0.05828   ])

In [126]:
dff['win_rate_per_bid'] = dff['win_count']/dff['response_count'] *100
# dff['win_rate'] = dff['win_count']/dff['sum_bid']
# dff['win_rate']

/tmp/ipykernel_131570/1139270036.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff['win_rate_per_bid'] = dff['win_count']/dff['response_count'] *100

In [128]:
# dff_high = dff.loc[ ]
# dff['win_rate'].max()

dff_sorted = dff.sort_values(by='win_rate_per_bid', ascending=False)

In [130]:
dff_sorted

,bidder,request_count,response_count,prebid_win_count,win_count,sum_bid,max_bid,avg_bid,sum_2nd_highest_bid,sum_prebid_winning_bid,sum_winning_bid,sum_nobid,sum_timeout,win_rate_per_bid
2500,,40,0,NaN,1.0,1.687932,0.677288,0.669344,NaN,NaN,NaN,NaN,NaN,inf
2173,,236,0,NaN,1.0,1.687932,0.677288,0.669344,NaN,NaN,NaN,NaN,NaN,inf
2251,,3876,0,NaN,1.0,1.687932,0.677288,0.669344,NaN,NaN,NaN,NaN,NaN,inf
2235,,19,0,NaN,1.0,1.687932,0.677288,0.669344,NaN,NaN,NaN,NaN,NaN,inf
2228,,19,0,NaN,1.0,1.687932,0.677288,0.669344,NaN,NaN,NaN,NaN,NaN,inf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,criteo,203,203,28.0,1.0,10.279405,0.098441,0.050637,NaN,1.269320,NaN,NaN,NaN,0.492611
894,criteo,217,217,28.0,1.0,8.877704,0.097124,0.040911,NaN,1.735213,NaN,NaN,NaN,0.460829
2528,teads,269,269,144.0,1.0,49.523600,0.193200,0.184103,NaN,26.505200,NaN,NaN,NaN,0.371747
2566,ix,303,303,8.0,1.0,9.842000,0.095000,0.032482,NaN,0.256500,NaN,NaN,NaN,0.330033
1236,criteo,348,348,100.0,1.0,13.839450,0.099264,0.039769,NaN,3.220282,NaN,NaN,NaN,0.287356

In [102]:
dff_sorted.head()

,bidder,request_count,response_count,prebid_win_count,win_count,sum_bid,max_bid,avg_bid,sum_2nd_highest_bid,sum_prebid_winning_bid,sum_winning_bid,sum_nobid,sum_timeout,win_rate,win_rate_per_bid
2500,,40,0,NaN,1.0,1.687932,0.677288,0.669344,NaN,NaN,NaN,NaN,NaN,0.592441,inf
2173,,236,0,NaN,1.0,1.687932,0.677288,0.669344,NaN,NaN,NaN,NaN,NaN,0.592441,inf
2251,,3876,0,NaN,1.0,1.687932,0.677288,0.669344,NaN,NaN,NaN,NaN,NaN,0.592441,inf
2235,,19,0,NaN,1.0,1.687932,0.677288,0.669344,NaN,NaN,NaN,NaN,NaN,0.592441,inf
2228,,19,0,NaN,1.0,1.687932,0.677288,0.669344,NaN,NaN,NaN,NaN,NaN,0.592441,inf

In [103]:
dff.sort_values(by='win_rate', ascending=False)

,bidder,request_count,response_count,prebid_win_count,win_count,sum_bid,max_bid,avg_bid,sum_2nd_highest_bid,sum_prebid_winning_bid,sum_winning_bid,sum_nobid,sum_timeout,win_rate,win_rate_per_bid
4456,sovrn,1,1,NaN,1.0,0.008405,0.008405,0.008405,NaN,NaN,NaN,NaN,NaN,118.980905,100.000000
4556,medianet,1,1,NaN,1.0,0.008460,0.008460,0.008460,NaN,NaN,NaN,NaN,NaN,118.203310,100.000000
1703,pubmatic,1,1,NaN,1.0,0.009400,0.009400,0.009400,0.00940,NaN,NaN,NaN,NaN,106.382979,100.000000
928,pubmatic,1,1,NaN,1.0,0.009400,0.009400,0.009400,NaN,NaN,NaN,NaN,NaN,106.382979,100.000000
800,pubmatic,1,1,NaN,1.0,0.009400,0.009400,0.009400,NaN,NaN,NaN,NaN,NaN,106.382979,100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1921,teads,147,147,70.0,1.0,27.066400,0.193200,0.184125,0.19320,12.88000,NaN,NaN,NaN,0.036946,0.680272
3347,medianet,5,5,2.0,1.0,36.750240,7.394980,7.350048,7.39122,14.65648,NaN,NaN,NaN,0.027211,20.000000
2356,pubmatic,25,25,NaN,1.0,38.596400,1.551000,1.543856,NaN,NaN,NaN,NaN,NaN,0.025909,4.000000
2528,teads,269,269,144.0,1.0,49.523600,0.193200,0.184103,NaN,26.50520,NaN,NaN,NaN,0.020192,0.371747
739,33across,25,25,NaN,1.0,87.057500,3.482300,3.482300,3.48230,NaN,NaN,NaN,NaN,0.011487,4.000000

In [131]:
dff_sorted['bidder'].unique()

array([' ', 'pubmatic', 'rhythmone', '33across', 'onemobile', 'criteo',
       'pulsepoint', 'ix', 'triplelift', 'rubicon', 'emx_digital',
       'appnexus', 'sharethrough', 'openx', 'medianet', 'sovrn',
       'undertone', 'teads'], dtype=object)

In [132]:
dff_grouped = dff.groupby(dff_sorted['bidder'])

In [133]:
dff_grouped.head()

,bidder,request_count,response_count,prebid_win_count,win_count,sum_bid,max_bid,avg_bid,sum_2nd_highest_bid,sum_prebid_winning_bid,sum_winning_bid,sum_nobid,sum_timeout,win_rate_per_bid
0,onemobile,4,4,1.0,1.0,2.340800,0.585200,0.585200,0.5852,0.5852,NaN,NaN,NaN,25.000000
1,rhythmone,3,3,NaN,1.0,1.032300,0.348750,0.344100,NaN,NaN,NaN,NaN,NaN,33.333333
2,undertone,1,1,NaN,1.0,0.960000,0.960000,0.960000,NaN,NaN,NaN,NaN,NaN,100.000000
3,,43,0,NaN,1.0,1.687932,0.677288,0.669344,NaN,NaN,NaN,NaN,NaN,inf
4,rhythmone,2,2,NaN,1.0,0.692850,0.348750,0.346425,NaN,NaN,NaN,NaN,NaN,50.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,undertone,6,6,4.0,1.0,5.817600,0.969600,0.969600,0.9696,3.8784,NaN,NaN,NaN,16.666667
391,undertone,1,1,1.0,1.0,2.880000,2.880000,2.880000,NaN,2.8800,NaN,NaN,NaN,100.000000
404,teads,5,5,1.0,1.0,1.278800,0.285200,0.255760,NaN,0.2852,NaN,NaN,NaN,20.000000
796,teads,2,2,2.0,1.0,0.487600,0.276000,0.243800,NaN,0.4876,NaN,NaN,NaN,50.000000
1516,teads,5,5,3.0,1.0,1.168400,0.285200,0.233680,0.2852,0.7084,NaN,NaN,NaN,20.000000

In [113]:
dff_grouped['win_rate'] = (dff_grouped['win_count'] / dff_grouped['response_count'])

TypeError: unsupported operand type(s) for /: 'SeriesGroupBy' and 'SeriesGroupBy'

In [ ]:
dff_grouped.describe()/

/home/abhishek/miniconda3/envs/langchain/lib/python3.10/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/home/abhishek/miniconda3/envs/langchain/lib/python3.10/site-packages/numpy/lib/function_base.py:4655: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)

             request_count                                                    \
                     count        mean          std  min    25%   50%    75%
bidder
                    1210.0  216.300826  1271.940866  5.0  18.00  20.0  40.00
33across             240.0    3.691667     9.842947  1.0   1.00   1.0   2.00
appnexus             197.0    4.213198    10.544136  1.0   1.00   1.0   3.00
criteo               306.0   10.395425    30.925885  1.0   1.00   1.0   5.00
emx_digital          169.0    2.325444     4.141184  1.0   1.00   1.0   2.00
ix                   464.0    6.575431    26.279169  1.0   1.00   1.0   2.00
medianet             384.0    6.656250    15.372878  1.0   1.00   1.0   4.00
onemobile            407.0    6.697789    17.264947  1.0   1.00   1.0   3.00
openx                197.0    5.913706    19.825197  1.0   1.00   1.0   3.00
pubmatic             298.0    7.835570    18.023828  1.0   1.00   2.0   5.00
pulsepoint           134.0    1.425373     0.983907  1.0   1.00   1.0   1.00
rhythmone            246.0    2.662602     4.430412  1.0   1.00   1.0   2.00
rubicon              178.0    3.269663     7.301055  1.0   1.00   1.0   2.00
sharethrough         139.0    2.388489     3.181720  1.0   1.00   1.0   2.00
sovrn                102.0    3.509804     7.732848  1.0   1.00   1.0   2.00
teads                 48.0   14.583333    44.503327  1.0   1.75   3.0   6.00
triplelift           232.0    6.375000    13.696521  1.0   1.00   1.0   4.25
undertone             49.0    2.122449     2.359667  1.0   1.00   1.0   2.00

                      response_count             ...   win_rate              \
                  max          count       mean  ...        75%         max
bidder                                           ...
              21855.0         1210.0   0.000000  ...   0.592441    0.592441
33across         76.0          240.0   3.691667  ...   2.147766   10.309278
appnexus         92.0          197.0   4.213198  ...   2.364939   13.406700
criteo          348.0          306.0  10.395425  ...  10.544291   85.060487
emx_digital      36.0          169.0   2.325444  ...   2.285998   10.187034
ix              303.0          464.0   6.575431  ...  17.543860  105.263158
medianet        129.0          384.0   6.656250  ...   3.854609  118.203310
onemobile       159.0          407.0   6.697789  ...   2.392344   18.983812
openx           151.0          197.0   5.913706  ...  12.025012  101.010101
pubmatic        161.0          298.0   7.835570  ...   4.835590  106.382979
pulsepoint        7.0          134.0   1.425373  ...   1.360544   10.204082
rhythmone        38.0          246.0   2.662602  ...   1.612138    3.584229
rubicon          53.0          178.0   3.269663  ...   3.565092   12.626263
sharethrough     23.0          139.0   2.388489  ...   1.792115    3.584229
sovrn            58.0          102.0   3.509804  ...  15.588499  118.980905
teads           269.0           48.0  14.583333  ...   2.717391    5.434783
triplelift      103.0          232.0   6.375000  ...   4.262030   10.001000
undertone        13.0           49.0   2.122449  ...   0.890313    1.041667

             win_rate_per_bid                                               \
                        count       mean        std        min         25%
bidder
                       1210.0        inf        NaN        inf         NaN
33across                240.0  76.642613  33.567386   1.315789   50.000000
appnexus                197.0  72.407108  36.208388   1.086957   33.333333
criteo                  306.0  62.497346  41.041518   0.287356   20.000000
emx_digital             169.0  82.545765  31.185032   2.777778   66.666667
ix                      464.0  75.071519  35.899497   0.330033   50.000000
medianet                384.0  64.005018  39.062147   0.775194   25.000000
onemobile               407.0  67.891383  38.616769   0.628931   33.333333
openx                   197.0  71.653987  36.576325   0.662252   33.333333
pubmatic                298.0  60.701396  39.749094   0.621118   20.000000
pulsepoint              134.0  86.226013  25.913016  14.285714  100.000000
rhythmone               246.0  73.253635  33.655954   2.631579   50.000000
rubicon                 178.0  76.717152  34.878669   1.886792   50.000000
sharethrough            139.0  75.048476  33.524622   4.347826   50.000000
sovrn                   102.0  75.179362  35.290153   1.724138   50.000000
teads                    48.0  47.414250  35.879538   0.371747   16.666667
triplelift              232.0  64.641190  40.332472   0.970874   25.000000
undertone                49.0  75.354340  31.179910  14.285714   50.000000


                50%    75%    max
bidder
                NaN    NaN    inf
33across      100.0  100.0  100.0
appnexus      100.0  100.0  100.0
criteo        100.0  100.0  100.0
emx_digital   100.0  100.0  100.0
ix            100.0  100.0  100.0
medianet      100.0  100.0  100.0
onemobile     100.0  100.0  100.0
openx         100.0  100.0  100.0
pubmatic       50.0  100.0  100.0
pulsepoint    100.0  100.0  100.0
rhythmone     100.0  100.0  100.0
rubicon       100.0  100.0  100.0
sharethrough  100.0  100.0  100.0
sovrn         100.0  100.0  100.0
teads          50.0  100.0  100.0
triplelift    100.0  100.0  100.0
undertone     100.0  100.0  100.0

[18 rows x 112 columns]